@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    /* border: 2px solid red; */
    
}

#container{
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    /* border: 2px solid blue; */
    display: flex;
    
}

.sidebar{
    height: 100vh;
    width: 100px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2px;
    padding: 10px 0px;

}

#logo{
    height: 60px;
    width: 60px;
    /* border: 1px solid red; */
}

.icons{
    height: 60px;
    width: 60px;
    /* min-width: 60px; */
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5px;

}

.icon-image{
    height: 30px;
    width: 30px;
    filter: invert(50%);
    /* border: 1px solid yellow; */
}

.icon-title{
    height: 30px;
    width: 100px;
    /* border: 1px solid white; */
    color: gray;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;

}

#home{
    height: 100vh;
    width: calc(100% - 100px);
    overflow-y: scroll;
    scrollbar-width: none;
    /* border: 1px solid red; */
    /* overflow-x: hidden; */
}

#hero{
    height: 100vh;
    width: 100%;
    /* border: 1px solid white; */
}

#video-div{
    height: 100%;
    width: 100%;
    /* border: 2px solid green; */
    position: relative;
    
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border:1px solid red; */
    position: absolute;
    z-index: -1;
}

#video::-webkit-media-controls {
    display: none !important; 
}


#mvd{
    height: 100%;
    width: 50%;
    /* border: 1px solid yellow; */
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



#mvad{
    height: 75%;
    width: 75%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 20px;
}
.inner-mvad{
    width: 50%;
    /* border: 1px solid white; */
}

#mvad-child1{
    height: 15%;
    background-image: url("/assets/kill-image.webp");
    background-size: contain;
    background-repeat: no-repeat;

}
#mvad-child2{
    height: 5%;
    color: rgb(0, 177, 247);
    font-size: 14px;
    font-weight: 500;
    
}
#mvad-child3{
    height: 6%;
    width: 80%;
    color: white;
    font-weight: 600;
    display: flex;
}

.dot-box{
    height: 100%;
    width: 8%;
    /* border:1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot{
    height: 5px;
    width: 5px;
    background-color: gray;
    border-radius: 50%;
}

.rated{
    display: flex;
    justify-content: center;
    width: 30px;
    /* border: 1px solid white; */
    border-radius: 4px;
    background-color: #525356;
}
#mvad-child4{
    height: 16%;
    width: 90%;
    color: #BBBBBC;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
#mvad-child5{
    height: 6%;
    width: 80%;
    color: white;
    font-weight: 600;
    display: flex;
}

.part-box{
    height: 100%;
    width: 4%;
    /* border:1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.part{
    height: 60%;
    width: 13%;
    background-color: gray;
    /* border-radius: 50%; */
}

#mvad-child6{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

#watch-btn{
    height: 100%;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.157);
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;

}
#play{
    filter: invert(100%);
}

#add-btn{
    height: 100%;
    width: 50px;
    background-color: blue;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.157);
}

#plus{
    filter: invert(100%);
}

#watch-list{
    height: 42px;
    width: 90px;
    filter: invert(6%);
    position: relative;
    top: -110px;
    left: 390px;
    z-index: 1;
    /* border: 1px solid white; */
}

#watch-list-text{
    color: white;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    top: 20%;
    left: 16%;
}

#smcd{
    height: 100%;
    width: 50%;
    /* border: 1px solid violet; */
    position: absolute;
    z-index: 1;
    right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#carousel{
    height: 70px;
    width: 350px;
    /* background-color: white; */
    position: relative;
    top: -90px;
    left: -60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    padding-left: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
}


.poster{
    height: 50px;
    width: 90px;
    border-radius: 6px;
    filter: brightness(50%);
    transition: transform 0.3s ease;

} 

 .poster:hover{
    cursor: pointer;
    transform: scale(1.2);
    border-radius: 6px;
    filter: brightness(100%);
}

.button{
    height: 50px ;
    width: 20px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-1{
    position: absolute;
    left: 20px;
}

#btn-2{
    position: absolute;
    right: 10px;
    /* left: 20px; */
}

#latest-releases-div{
    height: 360px ;
    width: calc(100%-100px);
    /* border: 1px solid white; */
}

#latest-releases-head{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 22px;
    font-weight: 600;
    padding-left: 20px;
    /* border: 1px solid red; */
}

#latest-releases-carousel{
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    gap:20px;
    padding-left: 20px ;
    overflow-x: scroll;
    scrollbar-width: none;
    /* border: 1px solid yellow; */
    /* background-color: white; */
    transition: transform 0.5s ease;
}

.rel-poster{
    height : 225px;
    width : 150px;
    border-radius : 6px;
    transition: transform 0.3s ease;
}

.rel-poster:hover{
    cursor: pointer;
    transform: scale(1.2);
}



.sub-footer{
    width: calc(100%-100px);
    /* border: 1px solid red; */
}

#footer1{
    height: 120px;
    margin-top: 80px;
    display: flex;
    gap: 60px;
    padding-left: 20px;
    align-items: center;
}

.sub-footer-child{
    height: 100px;
    width: 20%;
    font-size: 14px;
    color: #BBBBBC;
    text-decoration: underline;
    /* border: 1px solid yellow; */
}

#footer2{
    height: 100px;
}

#language{
    height: 30px;
    width: 100px;
    margin-left: 20px;
    color: white;
    background-color: #0f0f0f;
    border-radius: 4px;
    border:1px solid white;
}

#country{
    height: 20px;
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
    color: #BBBBBC;
    font-size: 14px;
    /* border: 1px solid white; */
}


/* ***************************My Space********************************* */

/* #my-space{
    height: 100vh;
    width: calc(100% - 100px);
    border: 1px solid red;
    background-color: white;
} */