#search-div{
    height: 100vh;
    width: calc(100% - 100px);
    overflow-y: scroll;
    scrollbar-width: none;
    /* border: 1px solid red; */
}

#search-hero{
    height: 100vh;
    width: 100%;
    border: 1px solid red;
}

#search-tab{
    height: 12vh;
    width: 94%;
    margin-top: 30px;
    margin-left: 20px;
    background-color: #252833;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 1px solid white;
    border-radius: 6px;
    padding: 0px 20px;
}

#search-icon,#close-icon{
    height: 70%;
    width: 40px;
    filter: invert(100%);
    /* border: 1px solid red; */
    background-color: #DAD7CC;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px ; */
}


input[type="text"]{
    height: 70%;
    width: 90%;
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: #252833;
    outline: none;
    border: none;
    /* border: 1px solid white; */
}

input[type="text"]::placeholder{
    font-size: 18px;
    font-weight: 600;
}

#search-result{
    height: 50vh;
    width: 94%;
    /* border: 1px solid white; */
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #252833;
    padding: 10px 30px;

}

#top{
    height: 5vh ;
    width: 100%;
    /* border: 1px solid red; */
    color: white;
    font-size: 24px;
    font-weight: 600;
}

#searched-movie{
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

#searched-movie-image{
    width: 362px;
    border-radius: 6px;
    /* border: 1px solid white; */
}

#searched-movie-details{
    height: 205px;
    width: 60%;
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    /* border: 1px solid white; */
}

.searched-movie-details-child{
    /* border: 1px solid white; */
}

#movie-name{
    font-size: 20px;
    font-weight: 600;
}

#movie-insights{
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin-top: 10px;
}

#movie-watch-btn{
    margin-top: 20px;
    height: 50px;
    width: 320px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

.movie-dot-box{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color:white;
}

